<div class="">
    <form action="?route=book/update&id=<?=$_GET["id"]?>" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" class="form-control">
        </div>

        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" name="year" class="form-control">
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>