<form action="?" method="get">
    <input type="hidden" name="route" value="book/search">
    <input type="text" name="title" placeholder="find book by title">
    <input type="submit" name="btn" style="margin-bottom: 20px">
</form>

<div class="alert-success">
    <?=$status?>
</div>
<table border="1" width="100%" cellpadding="5">
    <tr><td>Title</td><td>Author</td><td>Year</td></tr>
    <?php while ($row = $books->fetch_assoc()): ?>
        <tr>
            <td>
                <?=$row["title"]?>
            </td>
            <td>
                <?=$row["author"]?>
            </td>
            <td>
                <?=$row["year"]?>
            </td>
            <td>
                <a href="?route=book/edit&id=<?=$row["id"]?>" style="text-decoration: none; color: black;">Изменить</a>
            </td>
            <td>
                <a href="?route=book/delete&id=<?=$row["id"]?>&title=<?=$row["title"]?>" style="text-decoration: none; color: black;">Удалить</a>
            </td>
        </tr>
    <?php endwhile;?>
</table>
