<div class="alert-danger">
    <?=$statusPass?>
</div>
<div>
    <form action="?route=register/auth" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" name="email">

        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" name="password">

        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>